@import url("https://fonts.googleapis.com/css2?family=Wellfleet&display=swap");
@import "tailwindcss";

:root{
  background: black;
}

@theme {
  --color-background:#000000;
  --color-cream:#ffa2a2;
}

html,
body {
 
  font-family: Wellfleet;
  ::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: whitesmoke;
    border-radius: 20px;
  }
  &::-webkit-scrollbar-thumb {
    background-color:var(--color-cream);
    border-radius: 10px;
  }
}

@layer utilities {
  .Scroll {
    scrollbar-width: none;
    &::-webkit-scrollbar{
      display: none;
    }
  }
}
